@page "/"
@using BlazorApp.Components.Auth
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider;  
<PageTitle>Home</PageTitle>

<h1>MR REDDIT CLONISTIS</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity?.Name</h3>
        <button @onclick="LogoutAsync">Logout</button>

    </Authorized>
    <NotAuthorized>
        lol you are not logged in!
        <button @onclick='() => Navigation.NavigateTo("Login")'>Login</button>
        or create a new user
        <button @onclick='() => Navigation.NavigateTo("AddUser")'>Create a user</button>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private async Task LogoutAsync()
    {
        await ((SimpleAuthProvider)AuthProvider).Logout();
    }
}
