@page "/Posts"
@using System.Collections
@using ApiContracts
@using BlazorApp.Services
@inject IPostService PostService
@inject NavigationManager Navigation

<PageTitle>Posts</PageTitle>

<h1>All Posts</h1>

<input type="text" @bind="title" placeholder="Search by name of the post" />
<button @onclick="SearchUsers">Search</button>
<br/>
<a href="/AddPost" class="btn btn-primary">Add New Post</a>


@if (posts == null)
{
    <p><em>Loading..</em></p>
}
else
{
    <ul>
        @foreach (PostDto post in posts)
        {
            <li>post.Id : @post.Id <em>@post.Title, @post.Author</em> <br/>
                @post.Body <br/> 
                <button @onclick="() => ViewPost(post.Id)">View Post</button>
            </li>
        }
    </ul>
}

@code {
    protected ICollection? posts;

    private string title;
    
    protected override async Task OnInitializedAsync()
    {
        posts = (ICollection)(await PostService.GetPosts(""))!; // TODO: Fix ICollections stuff
    }

    private async Task SearchUsers()
    {
        posts = (ICollection?)await PostService.GetPosts(title);
    }

    private void ViewPost(int postId)
    {
        Navigation.NavigateTo($"/Posts/{postId}");
    }
}